<!DOCTYPE html>
<html lang="es">
  <%- include("partials/head") %>
  <body>
    <!-- Navbar (sit on top) -->
    <%- include("partials/navbar") %>

    <!-- Header -->
    <%- include("partials/header") %>

    <!-- Page content -->
    <div class="ps-content">

      <!-- Menu Section -->
      <%- include("partials/menuDetail") %>

      <!-- Footer -->
      <%- include("partials/header") %>
    </div>
  </body>
</html>
